 .button {
        width: 228px;
        height: 51px;
        background-color: #4A026B;
        color: white;
        border-radius: 10px;
        border:#4A026B;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        justify-content: center;
 } 
 
 .move {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        height: 100%;
 }
 /* .button::after {
  pointer-events: none;
  content: "";
  position: absolute; 
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: .7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
 } */
 
 /* .button:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
         0 0 4em 2em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
         cursor: pointer;
 }
  */
 .button:active {
  box-shadow: 0 0 0.6em .25em var(--glow-color),
         0 0 2.5em 2em var(--glow-spread-color),
         inset 0 0 .5em .25em var(--glow-color);
 } 
