body {
  background-color: #3f3f3f;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.Exprensescub {
  margin: 20px 0px;
  width: 748px;
  height: 104px;
  border-radius: 12px;
  background-color: #4b4b4b;
  display: flex;
  justify-content: space-between;
}